<div class="task-wrapper">
    <h2>Mis Tareas</h2>

    <form (ngSubmit)="addTask()" #form="ngForm" class="task-form">
        <input type="text" name="title" placeholder="Título" [(ngModel)]="newTask.title" required />
        <input type="text" name="description" placeholder="Descripción" [(ngModel)]="newTask.description" required />
        <button type="submit" [disabled]="form.invalid">Agregar</button>
    </form>

    <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar tareas..." class="filter-input" />

    <ul>
        <li *ngFor="let task of filteredTasks">
            <input type="checkbox" [checked]="task.completed" (change)="toggleComplete(task)" />
            <strong [class.done]="task.completed">{{ task.title }}</strong> -
            {{ task.description }}
            <button (click)="editTask(task)">✏️</button>
            <button (click)="deleteTask(task)">🗑️</button>
        </li>
    </ul>

</div>